/* Général */

body
{
    font-family: 'lato', sans-serif;
    position: relative;
}

h1,h2,h3,h4,h5,h6
{
    font-weight: bold;
}

p{
    color: #000000;
}

img
{
    max-width: 100%;
    height: auto;
}
section
{
    padding: 45px 0 80px 0;
}

section .heading
{
    text-align: center;
    padding-bottom: 40px;
}

section .heading h2
{
    text-transform: uppercase;
    margin: 20px 0;
}

.blue-divider
{
    width: 100px;
    height: 2px;
    background: #1c77c3;
    margin: 0 auto;
}

.white-divider
{
    width: 100px;
    height: 2px;
    background: #ffffff;
    margin: 0 auto;
}

ul, ol
{
    list-style: none;
}

/* MENU */

.navbar
{
    background: black;
    opacity: 0.7;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #fff;
    text-align: center;
    position: fixed;
    width: 100%;
    margin: auto;
    padding: 0;
    z-index:1000;
}
.navbar .collapse
{
    text-align: center ;
    flex-grow: 0;
    margin: auto;
}
.navbar ul
{
    border-bottom: none;
}


.navbar li a
{
    color: #fff !important;
}

.navbar .nav-link.active
{
    color: #fff !important;
    background: #1c77c3;
    border: none !important;
}

.navbar .nav-link:hover, .navbar .nav-link.active a:hover
{
    color: #fff !important;
    background: #1c77c3;
    border: none !important;
    
}

.navbar .navbar-toggler
{
    border-style: none;
    color:#fff ;
    font-size: 25px;
}

/*ABOUT*/

#about
{   
    background: url("../img/bg3.jpeg") no-repeat center center fixed;
    background-size: cover;
    padding: 120px 15px;
    height: 1000px;
    
}

#encadre
{
    background-color:rgba(0, 0, 0, 0.8);
    margin: auto;
    padding: 20px 20px;
    margin-top: 100px;
    border-radius: 20px;
    text-align: center;

}

.profile-picture
{
    text-align: center;
    margin: 0 auto;
    float: none;
}

#about .heading h1
{
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 20px;
}

#about .heading h3
{
    color: #fff;
}

.button1
{
    font-weight: bold;
    text-transform: uppercase;
    background-color: #000000;
    opacity: 0.8;
    color: #fff;
    border: 2px solid #1c77c3;
    display: inline-block;
    margin-top:20px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
}

.button1:hover
{
    background: #1c77c3;
    color:#fff ;
    text-decoration: none;
    
}

/* SKILLS */

#skills
{
    background: #fff;
}

#skills .heading h2
{
    color: #1c77c3;
    
}
#skills .icon
{
    margin: 50px;
    text-align: center;
}

#skills i
{
    font-size: 200px;
    color: #828995;
}

#skills i:hover
{
    color: #1c77c3;
}



/* EXPERIENCE */

#experience
{
    background: #1c77c3;
}

#experience .heading h2
{
    color: #fff;
}

.timeline
{
    padding: 30px 10px;
    position: relative;
}

.timeline:before
{
    top:0;
    bottom:0;
    position: absolute;
    content: " ";
    width: 5px;
    background-color: #828995;
    left: 50%;
    margin-left: -2.5px;
}
.timeline > li
{
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:after
{
    clear: both;
}

.timeline > li:before, .timeline > li:after
{
    content: " ";
    display: table;
}

.timeline li .timeline-badge
{
    color: #1c77c3;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #dddddd;
    border-radius: 50%;
}

.timeline-panel-container
{
    width: 50%;
    float: left;
}

.timeline-panel-container-inverted
{
    width: 50%;
    float: right;
}

.timeline-panel
{
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
    background: #ffffff;
}

.timeline-panel-container-inverted .timeline-panel
{
    float: left;
    margin-left: 40px;
}

.timeline-panel:after
{
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #ffffff;
    border-right: 0 solid #ffffff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline-panel-container-inverted .timeline-panel:after
{
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

#experience .time
{
    color: #333333!important;
}

.timeline-heading h3
{
    margin-top: 5px;
    font-size: 20px;
    color: #000000;
}

.timeline-heading h4
{
    color: #1c77c3;
}

/* EDUCATION */

#education
{
    background: #fff;
}

#education .heading h2
{
    color: #1c77c3;
}



.education-block
{
    width:80%;
    margin:0 auto;
    text-align: center;
    padding: 30px;
    background: #dddddd;
    border-radius: 10px;
    border: 2px solid #cccccc;
    margin-bottom: 20px;
}

.education-block h5
{
    color: #888;
    font-size: 15px;
    margin-bottom: 15px;
}

.education-block i

{
    font-size: 40px;
    color: #333;
}

.education-block h3
{
    color: #1c77c3;
}

.education-block h4
{
    margin-bottom: 20px;
    color: #000000;
}

.education-block p
{
    font-weight: bold;
}

.education-block .blue-divider
{
    margin-bottom: 20px;
}

/* PORTFOLIO */

#portfolio 
{
   background: #1c77c3; 
}

#portfolio .heading h2
{
    color: #ffffff;
}


#portfolio .row .col-md-4
{
    margin-bottom: 20px;
}


#portfolio .img-thumbnail
{
    margin: 10px;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    border-color: #fff;
    background-color: #fff;
}

#portfolio .img-thumbnail:hover
{
    filter: none;
    -webkit-filter: none;
}


/* FOOTER */

footer
{
    background: #333;
    padding: 20px 0 40px;
}

footer  i
{
    font-size: 25px;
    margin: 20px;
    color: #1c77c3;
    height: 30px;
}

footer #up i:hover
{
    font-size: 27px;
}

footer #coordonees i
{
    color: #fff;
    margin-bottom:none;
}

footer #coordonees i:hover
{
    color: #1c77c3;
}

footer h5
{
    color: #fff;
    font-weight: normal;
}




