/*Général*/
* {
    margin: 0;
    padding: 0;
}

.encadre {
    width: 50%;
    min-width: 300px;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top:1.5em;
    padding-bottom: 1.5em;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    box-sizing: border-box;
}

section {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*min-height: 50em;*/
    margin-top: 0;
    margin-bottom: 0;
}

h1, h2, p, li {

    font-family: 'Acme', sans-serif;
    color: white;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
}

p {
    font-size: 1.4em;
    
}
li{
    font-size: 1.4em;
    text-align: left;
    padding: 0.3em;
}

/*header*/





header {
    background-image: url("image/1543030882_City.gif");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: absolute;
    padding-bottom: 5em;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


header .encadre {
    width: 35%;
    min-width: 300px;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top:1.5em;
    padding-bottom: 1.5em;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
}
img {
    border-radius: 100px;
}

#profil {
    padding: 1em;
}


#coordonees {
    padding-bottom: 1em;
}

/*nav ul {
    list-style-type: none;
    width: 90%;
    display: flex;
    margin: auto;
    border-top: solid 1px rgba(0, 0, 0, 0.7);

}

nav ul li {
    display: inline-block;
    padding: 1em 0.5em 0 0.5em;
    

    
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    width: 5em;
   height: 1em;
   font-size: 1em;
   
}*/


/*Main*/





#main {
    position: absolute;
    top: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#formation {
    background-image:url(image/formation.jpeg);
}
#formation .encadre {
    width: 50%;
    padding: 5em;
    text-align: center;
}
#experience {
    background-image: url(image/train.jpg);
}
#experience .encadre {
    width: 50%;
    padding: 5em;
    text-align: center;
}
#competence {
    background-image: url(image/Study.jpg);
}
#competence .encadre {
    width: 50%;
    padding: 5em;
    text-align: center;
}
#infoComplementaire {
    background-image: url(image/Road.jpg);
}
#infoComplementaire  .encadre {
    width: 50%;
    padding: 5em;
    text-align: center;
    margin-top: 8em;
}


/*Responsive*/




@media screen and (max-width: 300px)
{


    h1 {
        font-size: 1.2em;
    }
    
    h2 {
        font-size: 1.1em;
    }
    
    p {
        font-size: 1em;
        
    }
    li{
        font-size: 1em;
    }

    header .encadre {
        min-width: 200px;


    }

    .encadre {
        min-width: 250px;
    }
     #formation .encadre {
        padding: 1.2em;
    }
    #experience .encadre {
        padding: 1.2em;
    }

    #competence .encadre {
        padding: 1.2em;
    }

    #infoComplementaire  .encadre {
        padding: 1.2em;

    }

    img {
        width: 40%;
        height: 40%;
    }
    section {
        min-height: 10em;
    }

}

@media all and (min-width: 300px) and (max-width: 800px)
 {
    h1 {
        font-size: 1.7em;
    }
    
    h2 {
        font-size: 1.4em;
    }
    
    p {
        font-size: 1.2em;
        
    }
    li{
        font-size: 1.2em;
        text-align: left; 
    }

    header .encadre {
        min-width: 260px;

    }

    .encadre {
        min-width:300px;
       
 
    }
     #formation .encadre {
        padding: 1.5em;
    }
    #experience .encadre {
        padding: 1.5em;
    }

    #competence .encadre {
        padding: 1.5em;
    }

    #infoComplementaire  .encadre {
        padding: 1.5em;

    }

    img {
        width: 50%;
        height: 50%;
    }
    section {
        min-height: 40em;
    }

}

@media all and (min-width: 800px) and (max-width: 1200px){

    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }
    
    p {
        font-size: 1.3em;
        
    }
    li{
        font-size: 1.3em;
    }

    header .encadre {
        min-width: 500px
    }

    .encadre {
        min-width: 600px
    }
     #formation .encadre {
        padding: 2em;
    }
    #experience .encadre {
        padding: 2em;
    }

    #competence .encadre {
        padding: 2em;
    }

    #infoComplementaire  .encadre {
        padding: 2em;

    }
    section {
        min-height: 30em;
    }

    /*img {
        width: 50%;
        height: 50%;
    }*/

}

@media all and (min-width: 1200px) and (max-width: 1800px) {

     h1 {
        font-size: 3em;
    }
    
    h2 {
        font-size: 2em;
    }
    
    p {
        font-size: 1.5em;
        
    }
    li{
        font-size: 1.5em;
    }

    header .encadre {
        min-width: 600px

    }

    .encadre {
        min-width: 800px
    }
     #formation .encadre {
        padding: 3em;
    }
    #experience .encadre {
        padding: 3em;
    }

    #competence .encadre {
        padding: 3em;
    }

    #infoComplementaire  .encadre {
        padding: 3em;

    }
    section {
        min-height: 40em;
    }
    /*img {
        width: 100%;
        height: 100%;
    }*/
}

@media all and (min-width: 1800px) and (max-width: 3000px) {

    h1 {
       font-size: 3em;
   }
   
   h2 {
       font-size: 2.3em;
   }
   
   p {
       font-size: 1.8em;
       
   }
   li{
       font-size: 1.8em;
   }

   header .encadre {
        min-width: 800px;
        margin-top: 10em;

   }

   .encadre {
        min-width: 1000px
   }
     #formation .encadre {
        padding: 4em;
    }
    #experience .encadre {
        padding: 4em;
    }

    #competence .encadre {
        padding: 4em;
    }

    #infoComplementaire  .encadre {
        padding: 4em;

    }
    section {
        min-height: 50em;
    }

}

@media screen and (min-width:3000px) {

    h1 {
        font-size: 7em;
    }
    
    h2 {
        font-size: 5em;
    }
    
    p {
        font-size: 3.5em;
        
    }
    li{
        font-size: 3.5em;
    }

    header .encadre {
        min-width: 1400px;
        margin-top: 30em;

    }

    .encadre {
        min-width: 2100px
    }

     #formation .encadre {
        padding: 5em;
    }
    #experience .encadre {
        padding: 5em;
    }

    #competence .encadre {
        padding: 5em;
    }

    #infoComplementaire  .encadre {
        padding: 5em;

    }
    section {
        min-height: 60em;
    }
}

@media screen and (max-height: 415px ) {
    header .encadre {
        min-width: 40%;
        max-height: 90%;
        margin-top: 2em;
        box-sizing: content-box;
    }
    .encadre {
        min-width: 80%;
    }

    img {
        width: 20%;
        height: 20%;
    }
    h1 {
        font-size: 1.5em;
    }
    
    h2 {
        font-size: 1.2em;
    }
    
    p {
        font-size: 1em;
        
    }

    li {
        font-size: 1em;
    }
}
